body {
  background: #1A2036;
  margin: 0;
  padding: 0;
}

.container {
  background: #2E3650;
  width: 60%;
  padding: 20px;
  margin: 100px auto;
  display: flex;
  border-radius: 20px;
}

.scrol {
  background: #1A2036;
  width: 5%;
}

.content-area {
  position: relative;
  flex-grow: 1;
  padding: 20px;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
}

.group-card {
  position: relative; 
  background: #3A4160;
  width: 150px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden; 
}

.corner-bookmarks::before {
  top: 6px;
  left: 6px;
}

.corner-bookmarks::after {
  bottom: 6px;
  right: 6px;
}

.clicked-btn {
  background-color: #2E3650 !important;
  border-color: #2E3650 !important;
}

.click-box{
  width: 100%;
  color: #ffffff;
  background: #050345;
  box-shadow: 0 6px 14px #c7cad377;
  padding: 0;
  margin: 0 auto;
}

.click-box::after{
  background: #303151;
  box-shadow: 0 4px 12px #737e9f66;
}

.click-title{
  margin-top: 10px;
}

.img{
  width: 70px;
}
.page-heading {
  font-size: 2.2rem;
  margin-bottom: 20px;
}