@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif !important;
}

.price {
  width: 127px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: clamp(32px, 8vw, 72px); 
  color: #191847;
  white-space: nowrap;   
  overflow: hidden;      
}
.custom-btn-blue {
  background-color: #4788E9;
  color: white;
  font-weight: bold;
  border: none;
  padding: 12px;
  border-bottom: 4px solid #0041c4; 
  transition: transform 0.1s ease;
}

.custom-btn-blue:active {
  transform: translateY(2px); 
}
.dot {
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
}

.stock-text {
  font-weight: 600;   
  font-size: 0.85rem; 
}
.custom-btn-black {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: 2px solid black; 
  padding: 12px;
  transition: background-color 0.2s ease, color 0.2s ease;
  border-radius: 0.375rem; 
}

.custom-btn-black:hover,
.custom-btn-black:focus,
.custom-btn-black:active {
  background-color: black;
  color: white;
  outline: none;
}
