*{
    position: 0;
    margin: 0;
}
h4{
    font-family: 'Ledger', serif;
}
span{
    font-size: 12px;
}
.container{
    background: #c8c6c6;
    width: 100%;
    height: 100%;
    top: 100px;
    padding: 27%;
}
.box-1{
    background: #1E1D4E;
    padding: 10px;
    width:  70%;
    height: 78%;
    top: 10%;
    left: 15%;
}
.box-2{
    padding: 40px;
    width: 79%;
    height: 70%;
    top: 14%;
    left: 10%;
    color: #1E1D4E;
}
.btn-1{
 padding: 0px !important;
    background: #F3F2FB!important;
    height: 30px;
}
img.rounded-circle {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

 .container-pp {
  max-width: 800px; 
  margin: 0 auto;
  overflow: hidden; 
}

#profileSlider {
  transition: transform 0.4s ease; 
}

.flex-shrink-0 {
  flex-shrink: 0; 
}
.btn-2{
    background: #1E1D4E !important;
    color: #ffff !important;
}
.box-pp{
    width: 250px;
}
.massege{
     background: linear-gradient(to right,#ffffff89 ,#0c6eee );
     color: rgb(0, 0, 0);
    border:3px solid #1E1D4E;
}
#message-container {
    position: fixed; 
   top: 70%;
    
    z-index: 1000; 
}
.close-btn {
    color: red;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 8px 5px 5px;
    line-height: 1;
}
.close-btn:hover{
    opacity: 0.7;
    background:red ;
    color: black;
}