/* Senin verdiğin CSS + küçük eklemeler */
body{
  background:#000;
}
.container{
  background:#e6e5e5;
  width:63%;
  height:1000px;
}


.box{
  width:100%;
  height:430px;
  top:30%;
  right:1px;
  display:grid;
  grid-template-columns:repeat(3, minmax(0,1fr));


   
}

.box-1{
  display:flex;
  align-items:flex-start; 
  gap:10px;
}

.img-sm{
  height:55px;
  width:55px;
  object-fit:contain;
}


.sm{
  font-size:small;
  margin:0;
}
.xs{
    font-size: 12px;
}

.box-1 span{
  display:block;     
  line-height:1.2;
}
.buton-1{
    background: oklch(26.567% 0.06372 289.198);
    color: white;
}
.gif{
  height: 55px;
  width: 55px;
 
}
.notes{
  top: 300px;
  left: 90%;
}