@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.text-primary {
  color: #1A1B38 !important;
}



#col-1 {
  color: #B1BBED !important;
}

#col-2 {
  color: #EDB1BF !important;
}

#col-3 {
  color: #C1EDB1 !important;
}

#col-4 {
  color: #EDD8B1 !important;
}

/* Responsive */
@media (max-width: 768px) {
  .position-row {
    flex-wrap: wrap !important;
    justify-content: center;
  }

  .role-box {
    flex: 0 0 45%;
    margin-bottom: 10px;
  }
}