@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.text-primary {
  color: #1A1B38 !important;
  }

.position-row {
  flex-wrap: nowrap !important;
  overflow-x: auto;
  gap: 20px;
}

.role-box {
  flex: 0 0 22%; /* flexs*/
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 15px 10px;
  min-width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.role-box:hover {
  transform: translateY(-5px);
}

.profil-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.role-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #1A1B38;
}

#icon-1{
  color: #B1BBED;
}
#icon-2{
  color: #EDB1BF;
}
#icon-3{
  color: #C1EDB1;
}
#icon-4{
  color: #EDD8B1;
}
/* Responsive */
@media (max-width: 768px) {
  .position-row {
    flex-wrap: wrap !important;
    justify-content: center;
  }

  .role-box {
    flex: 0 0 45%;
    margin-bottom: 10px;
  }
}
