body{
    background: black;
    padding: 0;
    margin: 0;
}
.container-1 {
  position: relative;
  height: 100vh;
}

.container-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.box-transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.container-2 {
  position: relative;
  height: 50vh;                
  background-color: black;     
  margin-top: -100px;          
  border-top: 5px solid rgba(233, 3, 3, 0.751);    
  border-top-left-radius: 50% 10%;   
  border-top-right-radius: 50% 10%;
    overflow: visible; 
  z-index: 2;                   
}
.container-2::after {
    content: "";
    position: absolute;
    top: -3px;                 
    left: 50%;                
    transform: translateX(-50%) rotate(180deg);
    width: 70%;
    height: 80px;                
    background: radial-gradient(
        ellipse at center, 
        rgba(30, 1, 123, 0.5) 0%,  
        rgba(18, 6, 106, 0.5) 30%,  
        rgba(4, 22, 138, 0.1) 70%         
    );
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 3;
}
.netflix-logo {
    top: 4%;        
    left: 10%;       
    width: 100px !important;   
    height: 100px !important;   
    z-index: 2;
}


